/**
 * 自定义样式
 */

.sys-item-2 {
    background-image: url(https://cdn.sa.net/2025/02/07/HO9mZcjJnyFM2IE.png);
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background-size: cover;
    font-weight: 900;
}